.hero{
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 100%; //This percentage is what has to be completely responsive.
    @include respond(laptop){
        padding-bottom: 45%;
    }
    @include respond(desktop){
        padding-bottom: 55%;
    }

    &__image{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size:cover;
        display: block;
    }

    &__shade{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.15) 16%, rgba(0, 0, 0, 0) 46%, rgba(0, 0, 0, 0.6) 84%, rgba(0, 0, 0, 0.7));
    }

    &__content{
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        color: #fff;
        padding: 50px 50px;

        @include respond(laptop){
            padding: 50px 100px;
        }

        @include respond(big-desktop){
            padding: 200px 100px;
        }
    }

    &__title-wrapper{
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        font-weight: bold;
        // background: #000;

        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 100%;
            bottom: 0;
            // background: #000;
            width: 100px;
        }

    }

    &__top-title{
        text-align: left;
        font-size: 1.8rem;
        @include respond(laptop){
            font-size: 2.8rem;
        }
        font-style: italic;
        display: block;
    }

    &__title{
        font-size: 2.5rem;
        @include respond(laptop){
            font-size: 5rem;
        }
        @include respond(big-desktop){
            font-size: 7rem;
        }
    }

    &__subtitle{
        padding-bottom: 1rem;

        @include respond(laptop){
        }
    }
    
}

.hero--full{
    padding-bottom: 100%; //This percentage is what has to be completely responsive.
    @include respond(laptop){
        padding-bottom: 50%;
    }
    @include respond(desktop){
        padding-bottom: 55%;
    }
}

.hero--inner{
    @include respond(laptop){
        padding-bottom: 40%;
    }

    .hero__content{
        @include respond(big-desktop){
            padding: 100px 100px;
        }
    }

}